<% layout('layouts/boilerplate') -%>
<div class="row">
    <h1 class="text-center">Add Post</h1>
    <div class="col-6 offset-3">
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="post[title]" id="title" class="form-control" value="<%=post.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea rows="3" name="post[description]" id="description" class="form-control"
                    required><%=post.description%>"</textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Edit Post</button>
        </form>
    </div>