<% layout('layouts/boilerplate') -%>
<h1 class="mb-5">All Posts</h1>
<div class="row">
    <% for(let post of posts) { %>
        <div class="col-6">
            <div class="card mb-5">
                <div class="card-body">
                    <h2><%=post.title%></h2>
                    <h6 class="card-text">Words: <%=post.description.length%> </h6>
                    <h6 class="card-subtitle mb-2 text-muted">By: <%=post.author.username%></h6>
                    <div class="mt-3">
                        <form action="/posts/<%=post._id%>">
                            <button class="btn btn-success">Read</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    <% } %>
</div>
